<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{ bokeh_css }}
    {{ bokeh_js }}
</head>
<body>
    <h1>My Bokeh Plot</h1>
    {{ plot_div }}
    {{ plot_script }}
</body>
</html>